.todo {
    border: none;
    text-decoration: none;
    width: 50%;
    height: 5vh;
    background: rgba(255, 255, 255, 0.13);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
}

.todo:hover {
    opacity: 80%;
}

.images_captain {

    background: url('../heroes/marvel_captain.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;

}

.images_cyclops {

    background: url('../heroes/marvel_cyclops.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;

}

.images_daredevil {

    background: url('../heroes/marvel_daredevil.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;

}

.images_hawkeye {

    background: url('../heroes/marvel_hawkeye.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;

}

.images_hulk {

    background: url('../heroes/marvel_hulk.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;

}

.images_iron {

    background: url('../heroes/marvel_iron.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;

}

.images_silver {

    background: url('../heroes/marvel_silver.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;

}

.images_spider {

    background: url('../heroes/marvel_spider.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;

}

.images_thor {

    background: url('../heroes/marvel_thor.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;

}

.images_wolverine {

    background: url('../heroes/marvel_wolverine.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;

}

@media screen and (max-width: 960px) {
    .contenedor_Marvel {
        margin: 0 70px;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 150% 150% 150% 150% 150% 150% 150% 150% 150% 0px 0px;
    }
}