.contenedor_Marvel{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
h1{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.todo{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: rgba(255, 44, 44, 0.623);
    border-radius: 100px;
    margin-top: 127%;
    margin-left: 25%;
    border: none;
    text-decoration: none;
    width: 50%;
    height: 5vh;
    background: rgba(255, 255, 255, 0.13);
    display: grid;
    position: relative;
}
.todo:hover{
    opacity: 99%;
    background: rgba(255, 44, 44, 0.623);
    color: rgb(255, 255, 255);
    transition: 3ms all ease-in-out;
}
.images_captain{
    margin-top: 20px;
    background: url('../heroes/marvel-captain.jpg')
    center center/cover no-repeat; 
    height: 100vh;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    margin-left: 20px;
}
.images_cyclops{
    margin-top: 20px;
    background: url('../heroes/marvel-cyclops.jpg')
    center center/cover no-repeat; 
    height: 100vh;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    margin-left: 20px;
}
.images_daredevil{
    margin-top: 20px;
    background: url('../heroes/marvel-daredevil.jpg')
    center center/cover no-repeat; 
    height: 100vh;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    margin-left: 20px;
}
.images_hawkeye{
    margin-top: 20px;
    background: url('../heroes/marvel-hawkeye.jpg')
    center center/cover no-repeat; 
    height: 100vh;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    margin-left: 20px;
}
.images_hulk{
    margin-top: 20px;
    background: url('../heroes/marvel-hulk.jpg')
    center center/cover no-repeat; 
    height: 100vh;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    margin-left: 20px;
}
.images_iron{
    margin-top: 20px;
    background: url('../heroes/marvel-iron.jpg')
    center center/cover no-repeat; 
    height: 100vh;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    margin-left: 20px;
}
.images_silver{
    margin-top: 20px;
    background: url('../heroes/marvel-silver.jpg')
    center center/cover no-repeat; 
    height: 100vh;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    margin-left: 20px;
}
.images_spider{
    margin-top: 20px;
    background: url('../heroes/marvel-spider.jpg')
    center center/cover no-repeat; 
    height: 100vh;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    margin-left: 20px;
}
.images_thor{ 
    margin-top: 20px;
    background: url('../heroes/marvel-thor.jpg')
    center center/cover no-repeat; 
    height: 100vh;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    margin-left: 20px;
}
.images_wolverine{
    margin-top: 20px;
    background: url('../heroes/marvel-wolverine.jpg')
    center center/cover no-repeat; 
    height: 100vh;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    margin-left: 20px;
}
@media screen and (max-width: 960px) {
    .contenedor_Marvel{
        padding: 0;
        margin: 0px 70px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}